{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Réinitialisation de mot de passe</h1>
            {{form_start(requestPassForm)}}
                {{form_row(requestPassForm.email)}}
                <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
            {{form_end(requestPassForm)}}
        </div>
    </div>
</section>
{% endblock %}