{% extends 'base.html.twig' %}

{% block title %}Liste des produits de la catégorie {{ category.name }}{% endblock %}
{% block body %}
    <main class="container">
		<section class='row'>
			<div class='col-12'>
				<h1>Liste des produits de la catégorie {{ category.name }}</h1>
				<p>Bienvenue dans notre boutique</p>
			</div>
            {% for product in products %}
                <div class='col-3 mb-3'>
                    <div class='card h-100'>
                        <div class='card-body'>
                            <h2 class='card-title'>{{ product.name }}</h2>
                            <p class='card-text'>{{ product.description }}</p>
                            <a href="#" class="btn btn-primary">Voir les détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div></div>
		</section>
	</main>
{% endblock %}