<p>Bonjour {{user.firstname}} {{user.lastname}}</p>
<p>Pour votre demande de réinitialisation du mot passe, veuillez cliquer sur le lien suivant : <a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>Merci</p>