<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %} - Site e-commerce Symfony 6</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Feuilles de styles -->
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">
        
        <!-- Feuilles de styles -->
        <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}"></script>
        {% block javascripts %}
        {% endblock %}
        <script src="{{asset('assets/js/scripts.js')}}"></script>
    </head>
    <body>
        {% include "_partials/_nav.html.twig" %}
        {% if app.user and app.user.isVerified == false %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                    <strong>Votre compte n'est pas activé</strong>, <a href="{{ path('resend_verif')}}">renvoyer le lien d'activation.</a>
                </div>
            </div>
        {% endif %}

        {% include "_partials/_flash.html.twig" %}
        {% block body %}
        
        
        {% endblock %}

        {% include "_partials/_footer.html.twig" %}
    </body>
</html>
